{% extends 'recipe/base.html' %} {% block content %}
<section class="page_login-layout page_title-style">
  <h1>{{ request.user }} Account</h1>
  <p>You have {{ number_of_favorites }} favorite recipes</p>
  <p>
    <a href="{% url 'recipe:favorites' %}" class="waves-effect waves-light btn">Go to favorites</a>
  </p>
  <form action="{% url 'users:del_account' %}" method="post" class="form-layout">
    {% csrf_token %}
    <button class="btn waves-effect waves-light red" type="submit" name="submit"><i
        class="material-icons left">delete_forever</i>Delete Account
    </button>
  </form>
</section>
{% endblock content %}