{% extends 'recipe/base.html' %} {% load placeholder %} {% block content %}
<main class="page_login-layout">
  <form method="post" action="{% url 'users:register' %}" class="form">
    {% csrf_token %}
    <div class="input-field col s12">
      {{ form.username }}
      <label for="id_{{ form.username.name }}">{{ form.username.label }}</label>
      <span class="red-text text-darken-2">
        {{ form.errors.username }}
      </span>
    </div>
    <div class="input-field col s12">
      {{ form.password1 }}
      <label for="id_{{ form.password1.name }}">{{ form.password1.label }}</label>
    </div>
    <div class="input-field col s12">
      {{ form.password2 }}
      <label for="id_{{ form.password2.name }}">{{ form.password2.label }}</label>
      <span class="red-text text-darken-2">
        {{ form.errors.password2 }}
      </span>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="submit">Register
      <i class="material-icons right">send</i>
    </button>
    <input type="hidden" name="next" value="{% url 'users:login' %}" />
  </form>

  <p>
    <a href="{% url 'recipe:index' %}" class="waves-effect waves-light btn">Return to main page</a>
  </p>
</main>
{% endblock content %}